Django==2.2.12
django-allauth==0.42.0
django-bootstrap-modal-forms==1.0
django-crispy-forms==1.9.1
django-elasticsearch-dsl==7.1.1
django-postgres-createdb==2019.8.24
django-postgres-dropdb==2019.8.24
django-request-logging==0.7.1
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
elasticsearch-dsl==7.2.0
